<div :class="{ 'was-validated': $publisher.failed }">
    <layout-banner class="pb-5">
	<div slot="spotlight">
	    <img-src :bytes="publisher$.icon"
		     :mime-type="publisher$.metadata.icon_mime_type"></img-src>

	    <input-file class="position-absolute top-50 start-50 translate-middle"
			accept="image/jpeg, image/png, image/svg+xml"
			v-model="publisher$.icon"
			@change="compressIcon()">
		<a-icon class="btn-primary">
		    <i class="bi-pencil"></i>
		</a-icon>
	    </input-file>
	</div>
    </layout-banner>

    <div class="container my-4">
	<h4>Details</h4>

	<div class="data-box my-2">
	    <label class="form-label">Publisher Name</label>
	    <input class="form-control" v-model="publisher$.name" required
		   :disabled="$publisher.writing">
	</div>

	<div class="data-box my-2">
	    <label class="form-label">Publisher Description</label>
	    <textarea class="form-control" v-model="publisher$.description"
		      :disabled="$publisher.writing"></textarea>
	</div>

	<div class="row mt-2">
	    <div class="col-12 col-md-4 mb-2">
		<div class="data-box">
		    <label class="form-label">Country</label>
		    <select-search class="form-select" v-model="publisher$.location.country"
				   :class="{ 'is-invalid': $publisher.failed && !publisher$.location.country, 'is-valid': $publisher.failed && publisher$.location.country }"
				   placeholder="Filter Countries">
			<option value="">Select a Country</option>
			<option v-for="name in countries" :value="name">{{ name }}</option>
		    </select-search>
		</div>
	    </div>
	    <div class="col-12 col-md-4 mb-2">
		<div class="data-box">
		    <label class="form-label">Region</label>
		    <input class="form-control" v-model="publisher$.location.region" required
			   :disabled="$publisher.writing">
		</div>
	    </div>
	    <div class="col-12 col-md-4">
		<div class="data-box">
		    <label class="form-label">City</label>
		    <input class="form-control" v-model="publisher$.location.city" required
			   :disabled="$publisher.writing">
		</div>
	    </div>
	</div>

	<div class="data-box my-2">
	    <label class="form-label">Email</label>
	    <input class="form-control" v-model="publisher$.email"
		   :disabled="$publisher.writing">
	</div>

	<div class="data-box my-2">
	    <label class="form-label">Website</label>
	    <input class="form-control" v-model="publisher$.website.url" required
		   :disabled="$publisher.writing">
	</div>
    </div>

    <div class="container my-4">
	<div class="d-flex align-items-center">
	    <h4 class="col">Editor(s)</h4>
	    <a-icon class="col-auto btn-primary"
		    @click="publisher$.editors.push('')">
		<i class="bi-plus-lg"></i>
	    </a-icon>
	</div>

	<div class="data-box my-2 d-flex align-items-center gutters gx-2">
	    <label>{{ $root.agent?.pubkey.initial }}</label>
	    <identicon-img :seed="$root.agent?.pubkey.initial" color size="50"></identicon-img>
	</div>

	<div v-for="(agent, i) in publisher$.editors"
	     class="data-box my-2 d-flex align-items-center gutters gx-2">
	    <div class="d-flex align-items-center w-100 gutters gx-2">
		<div class="col ms-0">
		    <label class="form-label">Agent ID</label>
		    <input class="form-control" v-model="publisher$.editors[i]"
			   :disabled="$publisher.writing">
		</div>
		<a-icon class="col-auto btn-danger me-0"
			@click="publisher$.editors.splice( i, 1 )">
		    <i class="bi-trash3-fill"></i>
		</a-icon>
	    </div>
	</div>
    </div>

    <div class="container my-4">
	<div class="d-flex justify-content-end gutters gx-2">
	    <a class="btn btn-primary"
	       :class="{ 'disabled': $publisher.writing }"
	       @click="create()">
		Save
	    </a>
	    <a class="btn btn-secondary me-0"
	       @click="navigateBack()">
		Cancel
	    </a>
	</div>
    </div>

</div>
