<div v-if="publisher">
    <layout-banner :seed="id" class="pb-5">
	<h2 id="page-title">{{ publisher.name }}</h2>
	<span id="page-subtitle">
	    <strong>{{ publisher.location.country }}</strong>
	    <span class="fw-light">, {{ publisher.location.region }}, {{ publisher.location.city }}</span>
	</span>

	<div slot="spotlight">
	    <holochain-img class="img"
			   :os-path="'appstore/memory/' + publisher.icon"
			   :mime-type="publisher.metadata.icon_mime_type"></holochain-img>
	</div>

	<div slot="actions">
	    <router-link v-if="$publisher.writable"
			 :to="'/publishers/' + id + '/update'">
		<a-icon class="btn-primary">
		    <i class="bi-pencil"></i>
		</a-icon>
	    </router-link>
	</div>
    </layout-banner>

    <div class="container my-4">
	<h4>Details</h4>

	<div v-if="publisher.deprecation"
	     class="alert alert-danger d-flex align-items-center" role="alert">
	    <i class="bi-exclamation-triangle-fill me-3"></i>
	    <div>
		<strong>This Publisher has been deprecated</strong><br>
		<p class="m-0"><em>Author message: "{{ publisher.deprecation.message }}"</em></p>
	    </div>
	</div>

	<div class="data-box my-2" v-if="publisher.description">
	    <label>Description</label>
	    <p>{{ publisher.description }}</p>
	</div>

	<div class="data-box my-2" v-if="publisher.email">
	    <label>Email</label>
	    <p><a :href="'mailto:' + publisher.email">{{ publisher.email }}</a></p>
	</div>

	<div class="data-box my-2">
	    <label>{{ publisher.website.context }}</label>
	    <p><a :href="publisher.website.url" target="_blank">{{ publisher.website.url }}</a></p>
	</div>
    </div>

    <div class="container my-4">
	<div class="d-flex align-items-center">
	    <h4 class="col">Editor(s)</h4>
	</div>

	<div v-for="agent in publisher.editors"
	     class="data-box my-2 d-flex align-items-center gutters gx-2">
	    <label>{{ agent }}</label>
	    <identicon-img :seed="agent" color size="50"></identicon-img>
	</div>
    </div>

    <div v-if="$publisher.writable" class="container my-4 text-end">
	<div class="btn btn-danger" @click="deprecationModal.show()">
	    Deprecate
	</div>
    </div>

    <div ref="deprecation-modal" class="modal fade">
	<div v-if="$publisher.writable"
	     class="modal-dialog modal-dialog-centered">
	    <div class="modal-content"
		 :class="{ 'was-validated': $publisher.failed }">
		<div class="modal-header">
		    <h5 class="modal-title">Confirm Deprecation</h5>
		</div>
		<div class="modal-body">
		    <p>You are about to deprecate Publisher '{{ publisher.name }}'</p>

		    <label class="form-label">Reason</label>
		    <textarea class="form-control"
			      v-model="publisher$.deprecation"
			      :disabled="$publisher.writing"
			      required></textarea>
		</div>
		<div class="modal-footer justify-content-center">
		    <a @click="deprecationModal.hide()" class="btn btn-secondary">Cancel</a>
		    <a @click="confirmDeprecation()" class="btn btn-danger">Confirm</a>
		</div>
	    </div>
	</div>
    </div>
</div>
