<div v-if="agent">
    <layout-banner :seed="agent" class="pb-5">
	<h2 id="page-title">{{ agent }}</h2>

	<div slot="spotlight">
	    <identicon-img size="300" color :seed="agent"></identicon-img>
	</div>
    </layout-banner>

    <div class="container my-4">
	<div class="d-flex align-items-center">
	    <h4 class="col">Publisher(s)</h4>
	    <router-link class="col-auto"
			 to="/publishers/new">
		<a-icon class="btn-primary">
		    <i class="bi-plus-lg"></i>
		</a-icon>
	    </router-link>
	</div>

	<div v-if="publishers?.length === 0"
	     class="card m-2 p-2 text-center text-secondary">
	    You do not have any associated publishers yet
	</div>

	<div v-for="publisher in publishers">
	    <router-link class="transparent"
			 :to="'/publishers/' + publisher.$id">
		<div class="data-box my-2 d-flex align-items-center gutters gx-2">
		    <div class="rounded-circle overflow-hidden"
			 style="width: 50px; height: 50px;">
			<holochain-img :os-path="'appstore/memory/' + publisher.icon"
				       :mime-type="publisher.metadata.icon_mime_type"></holochain-img>
		    </div>
		    <span class="flex-grow-1">{{ publisher.name }}</span>
		</div>
	    </router-link>
	</div>
    </div>

    <div class="container my-4">
	<div class="d-flex align-items-center">
	    <h4 class="col">App(s)</h4>
	    <router-link class="col-auto"
			 to="/apps/new">
		<a-icon class="btn-primary">
		    <i class="bi-plus-lg"></i>
		</a-icon>
	    </router-link>
	</div>

	<div v-if="apps?.length === 0"
	     class="card m-2 p-2 text-center text-secondary">
	    You do not have any associated apps yet
	</div>

	<div v-for="app in apps">
	    <router-link class="transparent"
			 :to="'/apps/' + app.$id">
		<div class="data-box my-2 d-flex align-items-center gutters gx-2">
		    <div class="rounded-circle overflow-hidden"
			 style="width: 50px; height: 50px;">
			<holochain-img :os-path="'appstore/memory/' + app.icon"
				       :mime-type="app.metadata.icon_mime_type"></holochain-img>
		    </div>
		    <span class="flex-grow-1">{{ app.title }}: <em>{{ app.subtitle }}</em></span>
		</div>
	    </router-link>
	</div>
    </div>
</div>
