<div :class="{ 'was-validated': $app.failed }">
    <div id="header"
	 class="mb-5 d-flex flex-column-reverse align-items-center position-relative exhibit"
	 style="width: 100%; height: 400px; background-color: #808080;">

	<div class="container my-2 position-relative">
	    <div class="rounded-circle border border-2 border-white position-absolute overflow-hidden"
		 style="bottom: -100px; left: -330px; width: 300px; height: 300px; background-color: #808080;">
		<img-src :bytes="app$.icon"></img-src>

		<input-file v-model="app$.icon">
		    <a-icon class="btn-primary position-absolute top-50 start-50 translate-middle">
			<i class="bi-pencil"></i>
		    </a-icon>
		</input-file>
	    </div>
	</div>
    </div>
    <div class="container my-4">
	<h4>Details</h4>

	<div class="data-box my-2">
	    <label class="form-label">App Title</label>
	    <input class="form-control" v-model="app$.title" required>
	</div>

	<div class="data-box my-2">
	    <label class="form-label">App Subtitle</label>
	    <input class="form-control" v-model="app$.subtitle" required>
	</div>

	<div class="data-box my-2">
	    <label class="form-label">Description</label>
	    <input class="form-control" v-model="app$.description">
	</div>

	<div class="data-box my-2">
	    <label class="form-label">Publisher</label>
	    <select-search class="form-select" v-model="app$.publisher" placeholder="Filter Publishers">
		<option value="">Select a Publisher</option>
		<option v-for="publisher in publishers"
			:value="publisher.$id">
		    {{ publisher.name }} ({{ publisher.location.region }}, {{ publisher.location.country }})
		</option>
	    </select-search>
	</div>


	<h5 class="mt-4">DevHub Assets</h5>

	<div class="data-box my-2">
	    <label class="form-label">hApps DNA</label>
	    <input class="form-control" :class="{ 'is-invalid': typeof invalid_dna_hash === 'string' }"
		   v-model="app$.devhub_address.dna"
		   @change="checkDevHubDNA( $event.target.value )"
		   placeholder="DNA Hash" required>
	    <div class="invalid-feedback">
		{{ invalid_dna_hash }}
	    </div>
	</div>

	<div v-if="app$.devhub_address.dna">
	    <div v-if="app$.devhub_address.happ" class="card entity-ref happ-ref my-2">
		<a class="position-absolute top-0 end-0 m-1" @click="app$.devhub_address.happ = null">
		    <i class="bi-x-lg"></i>
		</a>

		<div v-if="happ" class="d-flex align-items-center">
		    <p class="col">
			<span class="fw-bold">{{ happ.title }}:</span>
			{{ happ.subtitle }}<br>
			<span class="fw-light">{{ happ.description || 'No description' }}</span>
			<br><br>
			<i>Latest Release: {{ happ_release?.version }}</i>
			<br>
			<span v-if="!happ_release?.official_gui" class="text-warning">
			    <i>Latest Release does not have an official GUI</i>
			</span>
		    </p>
		    <identicon-img :seed="app$.devhub_address.happ" size="50"></identicon-img>
		</div>
		<div v-else-if="happ_errors.read" class="text-danger py-1">
		    {{ happ_errors.read.message }}
		</div>
		<div v-else-if="app$.devhub_address.happ" class="text-center mb-1">
		    <div class="spinner-border"></div>
		</div>
		<div v-else class="text-center pb-2">
		    Waiting for hApp ID...
		</div>
	    </div>
	    <div v-else class="data-box my-2">
		<label class="form-label">hApp</label>
		<input class="form-control" @change="setDevHubHapp( $event.target.value )"
		       placeholder="Entry Hash" required>
	    </div>

	    <div v-if="!app$.devhub_address.gui">
		<input type="checkbox" v-model="use_official_gui"> Use hApp's Official GUI
	    </div>

	    <template v-if="!use_official_gui">
		<div v-if="app$.devhub_address.gui" class="card entity-ref gui-ref my-2">
		    <a class="position-absolute top-0 end-0 m-1"
		       @click="app$.devhub_address.gui = null">
			<i class="bi-x-lg"></i>
		    </a>

		    <div v-if="gui" class="d-flex align-items-center">
			<p class="col">
			    <span class="fw-bold">{{ gui.name }}</span><br>
			    <span class="fw-light">{{ gui.description || 'No description' }}</span>
			    <br><br>
			    <i>Latest Release: v{{ gui_release?.version }}</i>
			</p>
			<identicon-img :seed="app$.devhub_address.gui" size="50"></identicon-img>
		    </div>
		    <div v-else-if="gui_errors.read" class="text-danger py-1">
			{{ gui_errors.read.message }}
		    </div>
		    <div v-else-if="app$.devhub_address.gui" class="text-center mb-1">
			<div class="spinner-border" role="status">
			    <span class="visually-hidden">Loading...</span>
			</div>
		    </div>
		    <div v-else class="text-center pb-2">
			Waiting for hApp ID...
		    </div>
		</div>
		<div v-else class="data-box my-2">
		    <label class="form-label">GUI</label>
		    <input class="form-control" @change="setDevHubGUI( $event.target.value )"
			   placeholder="Entry Hash" required>
		</div>
	    </template>
	</div>
    </div>

    <div class="container my-4">
	<div class="d-flex align-items-center">
	    <h4 class="col">Editor(s)</h4>
	    <a-icon class="col-auto btn-primary"
		    @click="app$.editors.push('')">
		<i class="bi-plus-lg"></i>
	    </a-icon>
	</div>

	<div class="data-box my-2 d-flex align-items-center gutters gx-2">
	    <label>{{ $root.agent?.pubkey.initial }}</label>
	    <identicon-img :seed="$root.agent?.pubkey.initial" color size="50"></identicon-img>
	</div>

	<div v-for="(agent, i) in app$.editors"
	     class="data-box my-2 d-flex align-items-center gutters gx-2">
	    <div class="d-flex align-items-center w-100 gutters gx-2">
		<div class="col ms-0">
		    <label class="form-label">Agent ID</label>
		    <input class="form-control" v-model="app$.editors[i]">
		</div>
		<a-icon class="col-auto btn-danger me-0"
			@click="app$.editors.splice( i, 1 )">
		    <i class="bi-trash3-fill"></i>
		</a-icon>
	    </div>
	</div>
    </div>

    <div class="container my-4">
	<div class="d-flex justify-content-end gutters gx-2">
	    <a class="btn btn-primary"
	       @click="create()">
		Save
	    </a>
	    <a class="btn btn-secondary me-0"
	       @click="navigateBack()">
		Cancel
	    </a>
	</div>
    </div>

</div>
