<div v-if="app">
    <layout-banner :seed="id" class="pb-5">
	<h2 id="page-title">{{ app.title }}: {{ app.subtitle }}</h2>
	<span id="page-subtitle">
	    <strong>{{ app.description }}</strong>
	    <span class="fw-light"></span>
	</span>

	<div slot="spotlight">
	    <holochain-img class="img" :os-path="'appstore/memory/' + app.icon"></holochain-img>
	</div>

	<div slot="actions">
	    <router-link v-if="$app.writable"
			 :to="'/apps/' + id + '/update'">
		<a-icon class="btn-primary">
		    <i class="bi-pencil"></i>
		</a-icon>
	    </router-link>
	</div>
    </layout-banner>

    <div class="container my-4">
	<div class="d-flex align-items-center">
	    <h4 class="col">Details</h4>
	    <a-icon class="col-auto btn-primary"
		    @click="downloadApp()">
		<div v-if="$package.reading"
		     class="spinner-border mt-1" role="status">
		    <span class="visually-hidden">Loading...</span>
		</div>
		<i v-else class="bi-download"></i>
	    </a-icon>
	</div>

	<router-link v-if="publisher"
		     class="transparent"
		     :to="'/publishers/' + publisher.$id">
	    <div class="data-box my-2">
		<label>Publisher</label>
		<p>
		    {{ publisher.name }}
		    <span class="fw-light">({{ publisher.location.region }}, {{ publisher.location.country }})</span>
		</p>
	    </div>
	</router-link>

	<h6 class="mt-3">DevHub Assets</h6>

	<div class="card entity-ref happ-ref my-2">
	    <div v-if="happ"
		 class="d-flex align-items-center">
		<p class="col">
		    <span class="fw-bold">{{ happ.title }}:</span>
		    {{ happ.subtitle }}<br>
		    <span class="fw-light">{{ happ.description || 'No description' }}</span>
		    <br><br>
		    <i>Latest Release: {{ happ_release?.name }}</i>
		</p>
		<identicon-img :seed="app.devhub_address.happ" size="50"></identicon-img>
	    </div>
	    <div v-else class="text-center">
		<div class="spinner-border mt-1" role="status">
		    <span class="visually-hidden">Loading...</span>
		</div>
	    </div>
	</div>

	<div v-if="app.devhub_address.gui" class="card entity-ref gui-ref my-2">
	    <div v-if="gui"
		 class="d-flex align-items-center">
		<p class="col">
		    <span class="fw-bold">{{ gui.name }}</span><br>
		    <span class="fw-light">{{ gui.description || 'No description' }}</span>
		    <br><br>
		    <i>Latest Release: v{{ gui_release?.version }}</i>
		</p>
		<identicon-img :seed="app.devhub_address.gui" size="50"></identicon-img>
	    </div>
	    <div v-else class="text-center">
		<div class="spinner-border mt-1" role="status">
		    <span class="visually-hidden">Loading...</span>
		</div>
	    </div>
	</div>
    </div>

    <div class="container my-4">
	<div class="d-flex align-items-center">
	    <h4 class="col">Editor(s)</h4>
	</div>

	<div v-for="agent in app.editors"
	     class="data-box my-2 d-flex align-items-center gutters gx-2">
	    <label>{{ agent }}</label>
	    <identicon-img :seed="agent" color size="50"></identicon-img>
	</div>
    </div>
</div>
