<div v-if="app">
    <layout-banner :seed="id" class="pb-5">
	<h2 id="page-title">{{ app.title }}: {{ app.subtitle }}</h2>
	<span id="page-subtitle">
	    <strong>{{ app.description }}</strong>
	    <span class="fw-light"></span>
	</span>

	<div slot="spotlight">
	    <holochain-img class="img"
			   :os-path="'appstore/memory/' + app.icon"
			   :mime-type="app.metadata.icon_mime_type"></holochain-img>
	</div>

	<div slot="actions">
	    <router-link v-if="$app.writable"
			 :to="'/apps/' + id + '/update'">
		<a-icon class="btn-primary">
		    <i class="bi-pencil"></i>
		</a-icon>
	    </router-link>
	</div>
    </layout-banner>

    <div class="container my-4">
	<div v-if="moderator_action?.metadata?.remove === true"
	     class="alert alert-warning" role="alert">
	    <strong>This app has been removed from the App Store index</strong><br>
	    <figure class="mt-2 ms-2">
		<blockquote class="blockquote">
		    <p class="bg-white text-pre-wrap">{{ moderator_action.message }}</p>
		</blockquote>
		<figcaption class="blockquote-footer align-items-center d-flex flex-row">
		    Moderator Message
		    <identicon-img class="mx-1" :seed="moderator_action.author" color size="20"></identicon-img>
		</figcaption>
	    </figure>
	</div>

	<div class="d-flex align-items-center">
	    <h4 class="col">Details</h4>
	    <a-icon class="col-auto btn-primary"
		    @click="downloadApp()">
		<div v-if="$package.reading"
		     class="spinner-border mt-1" role="status">
		    <span class="visually-hidden">Loading...</span>
		</div>
		<i v-else class="bi-download"></i>
	    </a-icon>
	</div>

	<div v-if="app.deprecation"
	     class="alert alert-danger d-flex align-items-center" role="alert">
	    <i class="bi-exclamation-triangle-fill me-3"></i>
	    <div>
		<strong>This App has been deprecated</strong><br>
		<p class="m-0"><em>Author message: "{{ app.deprecation.message }}"</em></p>
	    </div>
	</div>

	<router-link v-if="publisher"
		     class="transparent"
		     :to="'/publishers/' + publisher.$id">
	    <div class="data-box my-2">
		<label>Publisher</label>
		<p>
		    {{ publisher.name }}
		    <span class="fw-light">({{ publisher.location.region }}, {{ publisher.location.country }})</span>
		</p>
	    </div>
	</router-link>

	<h6 class="mt-3">DevHub Assets</h6>

	<div class="card entity-ref happ-ref my-2">
	    <div v-if="happ"
		 class="d-flex align-items-center">
		<p class="col">
		    <span class="fw-bold">{{ happ.title }}:</span>
		    {{ happ.subtitle }}
		    <span v-if="happ.deprecation" class="fw-lighter text-danger"> (deprecated)</span>
		    <br>
		    <span class="fw-light">{{ happ.description || 'No description' }}</span>
		    <br><br>
		    <i>Latest Release: {{ happ_release?.version }}</i>
		</p>
		<identicon-img :seed="app.devhub_address.happ" size="50"></identicon-img>
	    </div>
	    <div v-else class="text-center">
		<div class="spinner-border mt-1" role="status">
		    <span class="visually-hidden">Loading...</span>
		</div>
	    </div>
	</div>

	<div v-if="app.devhub_address.gui" class="card entity-ref gui-ref my-2">
	    <div v-if="gui"
		 class="d-flex align-items-center">
		<p class="col">
		    <span class="fw-bold">{{ gui.name }}</span>
		    <span v-if="gui.deprecation" class="fw-lighter text-danger"> (deprecated)</span>
		    <br>
		    <span class="fw-light">{{ gui.description || 'No description' }}</span>
		    <br><br>
		    <i>Latest Release: {{ gui_release?.version }}</i>
		</p>
		<identicon-img :seed="app.devhub_address.gui" size="50"></identicon-img>
	    </div>
	    <div v-else class="text-center">
		<div class="spinner-border mt-1" role="status">
		    <span class="visually-hidden">Loading...</span>
		</div>
	    </div>
	</div>
    </div>

    <div class="container my-4">
	<div class="d-flex align-items-center">
	    <h4 class="col">Editor(s)</h4>
	</div>

	<div v-for="agent in app.editors"
	     class="data-box my-2 d-flex align-items-center gutters gx-2">
	    <label>{{ agent }}</label>
	    <identicon-img :seed="agent" color size="50"></identicon-img>
	</div>
    </div>

    <div v-if="$app.writable || $moderator_action.writable"
	 class="container my-4 text-end">
	<template v-if="isViewpointMember()">
	    <div v-if="!moderator_action?.metadata?.remove"
		 class="btn btn-outline-warning mx-3"
		 @click="showModeratorModal( true )">
		Remove App
	    </div>
	    <div v-else
		 class="btn btn-outline-warning mx-3"
		 @click="showModeratorModal( false )">
		Un-remove App
	    </div>
	</template>

	<div v-if="$app.writable" class="btn btn-danger" @click="deprecationModal.show()">
	    Deprecate
	</div>
    </div>

    <div v-if="isViewpointMember()" class="container my-4">
	<div class="d-flex align-items-center">
	    <h4 class="col">Moderator Actions</h4>
	</div>

	<div v-if="moderator_actions?.length"
	     v-for="action in moderator_actions"
	     class="card my-2 p-2">
	    <div class="row align-items-center mb-3">
		<div class="col-md-10">
		    <h5>Authored by <code>{{ action.author }}</code></h5>
		    <span class="text-secondary">at {{ action.published_at }}</span>
		</div>
		<div class="col-md-2 text-end">
		    <identicon-img :seed="action.author" color size="50"></identicon-img>
		</div>
	    </div>
	    <div class="row">
		<div class="col-md-6 col-sm-12">
		    <table class="table table-bordered table-striped">
			<thead>
			    <tr>
				<th class="text-end">Control</th>
				<th>Setting</th>
			    </tr>
			</thead>
			<tbody>
			    <tr v-for="(value, key) in action.metadata">
				<td class="text-end">{{ key }}</td>
				<td><code>{{ value }}</code></td>
			    </tr>
			</tbody>
		    </table>
		</div>
		<div class="col-md-6 col-sm-12">
		    <strong>Message:</strong>
		    <pre class="my-1 px-2 py-1 bg-light">{{ action.message }}</pre>
		</div>
	    </div>
	</div>
	<div v-else class="card my-2 p-2 text-center text-secondary">
	    No results
	</div>
    </div>

    <div ref="deprecation-modal" class="modal fade">
	<div v-if="$app.writable"
	     class="modal-dialog modal-dialog-centered">
	    <div class="modal-content"
		 :class="{ 'was-validated': $app.failed }">
		<div class="modal-header">
		    <h5 class="modal-title">Confirm Deprecation</h5>
		</div>
		<div class="modal-body">
		    <p>You are about to deprecate App '{{ app.title }}'</p>

		    <label class="form-label">Reason</label>
		    <textarea class="form-control"
			      v-model="app$.deprecation"
			      :disabled="$publisher.writing"
			      required></textarea>
		</div>
		<div class="modal-footer justify-content-center">
		    <a @click="deprecationModal.hide()" class="btn btn-secondary">Cancel</a>
		    <a @click="confirmDeprecation()" class="btn btn-danger">Confirm</a>
		</div>
	    </div>
	</div>
    </div>

    <div ref="moderator-modal" class="modal fade">
	<div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content"
		 :class="{ 'was-validated': $app.failed }">
		<div class="modal-header">
		    <h5 class="modal-title">Moderator Action</h5>
		</div>
		<div v-if="!$moderator_action.reading && moderator_action$ !== null"
		     class="modal-body">
		    <p>You are about to modify the state of App '{{ app.title }}'</p>

		    <label class="form-label">Reason</label>
		    <textarea class="form-control"
			      v-model="moderator_action$.message"
			      :disabled="$moderator_action.writing"
			      required></textarea>


		    <h6 class="mt-3">Controls</h6>
		    <div class="form-check">
			<input id="remove-app-checkbox"
			       class="form-check-input" type="checkbox"
			       v-model="moderator_action$.metadata.remove">
			<label class="form-check-label" for="remove-app-checkbox">
			    Remove App
			</label>
		    </div>
		</div>
		<div class="modal-footer justify-content-center">
		    <a @click="moderatorModal.hide()"
		       class="btn btn-secondary"
		       :class="{ 'disabled': $moderator_action.writing }">Cancel</a>
		    <a @click="confirmModerator()"
		       class="btn btn-danger"
		       :class="{ 'disabled': $moderator_action.writing }">Confirm</a>
		</div>
	    </div>
	</div>
    </div>

</div>
