<div v-if="app">
    <layout-banner :seed="id" class="pb-5">
	<h2 id="page-title">{{ app.title }}: {{ app.subtitle }}</h2>
	<span id="page-subtitle">
	    <strong>{{ app.description }}</strong>
	    <span class="fw-light"></span>
	</span>

	<div slot="spotlight">
	    <holochain-img class="img"
			   :os-path="'appstore/memory/' + app.icon"
			   :mime-type="app.metadata.icon_mime_type"></holochain-img>
	</div>

	<div slot="actions">
	    <router-link v-if="$app.writable"
			 :to="'/apps/' + id + '/update'">
		<a-icon class="btn-primary">
		    <i class="bi-pencil"></i>
		</a-icon>
	    </router-link>
	</div>
    </layout-banner>

    <div class="container my-4">
	<div class="d-flex align-items-center">
	    <h4 class="col">Details</h4>
	    <a-icon class="col-auto btn-primary"
		    @click="downloadApp()">
		<div v-if="$package.reading"
		     class="spinner-border mt-1" role="status">
		    <span class="visually-hidden">Loading...</span>
		</div>
		<i v-else class="bi-download"></i>
	    </a-icon>
	</div>

	<div v-if="app.deprecation"
	     class="alert alert-danger d-flex align-items-center" role="alert">
	    <i class="bi-exclamation-triangle-fill me-3"></i>
	    <div>
		<strong>This App has been deprecated</strong><br>
		<p class="m-0"><em>Author message: "{{ app.deprecation.message }}"</em></p>
	    </div>
	</div>

	<router-link v-if="publisher"
		     class="transparent"
		     :to="'/publishers/' + publisher.$id">
	    <div class="data-box my-2">
		<label>Publisher</label>
		<p>
		    {{ publisher.name }}
		    <span class="fw-light">({{ publisher.location.region }}, {{ publisher.location.country }})</span>
		</p>
	    </div>
	</router-link>

	<h6 class="mt-3">DevHub Assets</h6>

	<div class="card entity-ref happ-ref my-2">
	    <div v-if="happ"
		 class="d-flex align-items-center">
		<p class="col">
		    <span class="fw-bold">{{ happ.title }}:</span>
		    {{ happ.subtitle }}
		    <span v-if="happ.deprecation" class="fw-lighter text-danger"> (deprecated)</span>
		    <br>
		    <span class="fw-light">{{ happ.description || 'No description' }}</span>
		    <br><br>
		    <i>Latest Release: {{ happ_release?.version }}</i>
		</p>
		<identicon-img :seed="app.devhub_address.happ" size="50"></identicon-img>
	    </div>
	    <div v-else class="text-center">
		<div class="spinner-border mt-1" role="status">
		    <span class="visually-hidden">Loading...</span>
		</div>
	    </div>
	</div>

	<div v-if="app.devhub_address.gui" class="card entity-ref gui-ref my-2">
	    <div v-if="gui"
		 class="d-flex align-items-center">
		<p class="col">
		    <span class="fw-bold">{{ gui.name }}</span>
		    <span v-if="gui.deprecation" class="fw-lighter text-danger"> (deprecated)</span>
		    <br>
		    <span class="fw-light">{{ gui.description || 'No description' }}</span>
		    <br><br>
		    <i>Latest Release: {{ gui_release?.version }}</i>
		</p>
		<identicon-img :seed="app.devhub_address.gui" size="50"></identicon-img>
	    </div>
	    <div v-else class="text-center">
		<div class="spinner-border mt-1" role="status">
		    <span class="visually-hidden">Loading...</span>
		</div>
	    </div>
	</div>
    </div>

    <div class="container my-4">
	<div class="d-flex align-items-center">
	    <h4 class="col">Editor(s)</h4>
	</div>

	<div v-for="agent in app.editors"
	     class="data-box my-2 d-flex align-items-center gutters gx-2">
	    <label>{{ agent }}</label>
	    <identicon-img :seed="agent" color size="50"></identicon-img>
	</div>
    </div>

    <div v-if="$app.writable" class="container my-4 text-end">
	<div class="btn btn-danger" @click="deprecationModal.show()">
	    Deprecate
	</div>
    </div>

    <div ref="deprecation-modal" class="modal fade">
	<div v-if="$app.writable"
	     class="modal-dialog modal-dialog-centered">
	    <div class="modal-content"
		 :class="{ 'was-validated': $app.failed }">
		<div class="modal-header">
		    <h5 class="modal-title">Confirm Deprecation</h5>
		</div>
		<div class="modal-body">
		    <p>You are about to deprecate App '{{ app.title }}'</p>

		    <label class="form-label">Reason</label>
		    <textarea class="form-control"
			      v-model="app$.deprecation"
			      :disabled="$publisher.writing"
			      required></textarea>
		</div>
		<div class="modal-footer justify-content-center">
		    <a @click="deprecationModal.hide()" class="btn btn-secondary">Cancel</a>
		    <a @click="confirmDeprecation()" class="btn btn-danger">Confirm</a>
		</div>
	    </div>
	</div>
    </div>

</div>
